* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
font-family: 'Great Vibes';
font-family: 'Libre Baskerville', serif;
font-family: 'Mulish', sans-serif;
*/

/* ==== GENERAL STYLES ==== */

h1,h2,h3,h4,
ul,ol,
p,
img,
section {
    margin-bottom: 1.5rem;
    color: #444349;
}

body {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-family: 'Great Vibes';
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
}

/* ==== HERO ==== */

.hero {
    width: 100%;
    height: 90vh;
    background: url(assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 400px;
    height: fit-content;
    text-align: center;
    background-color: hsla(100,0%,0%,.6);
    color:white;
}

.header h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    padding-top: .8rem;
    font-weight: 500;
    color: white;
}

.header h2 {
    color: #d2ba87;
    font-weight: 500;
}

.header p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    margin: 1rem auto;
    letter-spacing: 5px;
    font-weight: 500;
    color: white;
}

.header h1::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .8rem auto;
  }

  .date::before,
  .date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
  }

  /* ==== LOCATIONS ==== */

  .locations {
    background: url(assets/wedding-landing-background.png);
    display: block;
  }

  .locations h2 {
    display: flex;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column img {
    height: 7rem;
    width: 7rem;
  }

  .column h3, .column div {
    font-family: 'Libre Baskerville', serif;
  }

  .column h3 {
    font-weight: 700;
  }

  .column div {
    line-height: 1.5rem;
  }

  .column::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
    background-color: #444349;
  }

  /* ==== PROGRAM ==== */

  .program { 
    display: flex;
    flex-direction: column;
    background-color: hsla(100,0%,0%,.6);
  }

  .program-wrapper {
    max-width: 425px;
    align-self: center;
  }

  .program h2, .program p {
    text-align: center;
    color:#d2ba87
  }

  .program p {
    font-style: italic;
    font-size: 1.1rem;
  }

  .program li {
    color:#d2ba87;
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* ==== GIFTS ==== */

  .gifts {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
  }

  .gifts img {
    height: 7rem;
    width: 7rem;
  }

  /* ==== Q&A ==== */

  .qna-wrapper {
    display: flex;
    flex-direction: column;
    background-color: hsla(100,0%,0%,.6);
  }

  .qna h2 {
    color: #d2ba87;
    padding-bottom: 1rem;
  }

  .qna-column h3, .qna-column p {
    color:#d2ba87;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  .qna h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .question {
    font-weight: bolder;
  }

  .answer {
    padding-bottom: 1rem;
    margin-top: -.5rem;
  }

  .qna-column::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 50vw;
    margin: 1.5rem auto;
    background-color: #d2ba87;
  }